/* media qeuries */
@media (max-width: 768px) {
  .container {
    width: 90%;
  }
  header {
    margin-bottom: 50px;
  }
  header .burger img {
    display: flex;
    cursor: pointer;
  }
  header nav {
    display: none;
  }

  /* hero section */
  .hero {
    margin-bottom: 200px;
  }
  .hero .container {
    flex-direction: column-reverse;
  }
  .hero .container .hero_image {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .hero .hero_image::after{
    margin-bottom: -50px;
  }
  .hero .container .hero_image img {
    margin-right: 0;
  }
  .hero .hero_image::after {
    bottom: 50px;
    height: 250px;
  }
  .hero .hero_content {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 90%;
  }
  .hero_content h1 {
    font-size: 30px;
    text-align: center;
  }
  .hero_content p {
    max-width: 400px;
  }
    .hero_actions {
      width: 100%;
    }
  .hero_actions .btn {
    padding: 15px 20px;
    }
  /* feature  */
}


.dowload {
  display: none;
}
.questions {
  display: none;
}
footer {
  display: none;
}
