* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
}
:root {
  --grey-50: hsl(0, 0%, 97%);
  --text-color: hsl(229, 31%, 21%);
  --header-color: hsla(229, 31%, 21%, 0.937);
  --primary-blue-600: hsl(231, 69%, 60%);
  --primary-red-400: hsl(0, 94%, 66%);
  --paragraph-color: hsl(229, 8%, 60%);
}
.container {
  max-width: 1200px;
  width: 70%;
  margin: 0 auto;
  /* background-color: aqua; */
}
@font-face {
  font-family: "rubik";
  src: url(../fonts/Rubik-Italic-VariableFont_wght.ttf);
}
body {
  font-family: rubik, "sans-serif";
  /* background-color: var(--grey-50); */
}
header {
  height: 100px;
}
header .container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav ul {
  display: flex;
  align-items: center;
  gap: 20px;
}
header nav ul a {
  color: var(--text-color);
  transition: all 0.5s ease;
  text-transform: uppercase;
}
header nav ul a:hover {
  color: var(--primary-red-400);
}
header nav ul li:last-child a {
  background-color: var(--primary-red-400);
  color: var(--grey-50);
  padding: 10px 20px;
  font-weight: 500;
  border-radius: 5px;
  border: 2px solid var(--primary-red-400);
}
header nav ul li:last-child a:hover {
  background-color: var(--grey-50);
  color: var(--primary-red-400);
}
header .burger {
  display: none;
}
header .bottom-footer-social {
  /* display: none; */
}
/* header end */
/* body  start */
.hero {
  width: 100%;
  position: relative;
  margin-top: 100px;
  overflow: hidden;
}
.hero .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero_actions {
  margin-top: 30px;
}
.hero_content h1 {
  font-size: 45px;
  font-weight: 500;
  color: var(--text-color);
}
.hero_content p {
  color: var(--paragraph-color);
  line-height: 1.6;
  font-size: 18px;
  padding: 20px 0;
}
.btn {
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;
  transition: all 0.5s ease;
}
.get_chrome {
  background-color: var(--primary-blue-600);
  color: var(--grey-50);
  border: 2px solid var(--primary-blue-600);
  margin-right: 20px;
  display: inline-block;
}

.get_firefox {
  background-color: var(--grey-50);
  color: var(--text-color);
  box-shadow: 0 8px 8px -4px rgba(83, 104, 223, 0.2);
  border: 2px solid var(--grey-50);
}

.get_chrome:hover {
  background: none;
  color: var(--primary-blue-600);
}
.get_firefox:hover {
  background: none;
  color: var(--text-color);
  border: 2px solid var(--text-color);
}
.hero .hero_image {
  position: relative;
  width: 50%;
  transform: translateX(100px);
}
.hero_content {
  width: 50%;
}
.hero .hero_image img {
  width: 100%;
  /* margin-right: -150px; */
}
.hero .hero_image::after {
  content: "";
  position: absolute;
  display: block;
  bottom: 30px;
  right: -700px;
  width: 1000px;
  height: 250px;
  background-color: var(--primary-blue-600);
  border-bottom-left-radius: 100px;
  border-top-left-radius: 100px;
  z-index: -1;
}

/* end hero */
/* start features */

.features {
  width: 100%;
  padding: 100px 0;
}
.features .features_header {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.features .features_header p {
  max-width: 500px;
  color: var(--paragraph-color);
}
.features .features_header h1 {
  color: var(--text-color);
  margin-bottom: 15px;
}

.features .features_tabs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 80%;
  height: 60px;
  margin-bottom: 50px;
  margin-top: 50px;
  border-bottom: 2px solid var(--grey-50);
}
.features .features_tabs li {
  width: calc(100% / 3);
  text-align: center;
  height: 100%;
}

.features .features_tabs li .btntab {
  background: none;
  display: block;
  border: none;
  cursor: pointer;
  text-align: center;
  font-size: 18px;
  height: 100%;
  width: 100%;
  position: relative;
  color: rgba(37, 43, 70, 0.7);
  /* transition: all 0.5s ease; */
}

.features .features_tabs li .btntab:hover {
  color: var(--text-color);
}
/* .features .features_tabs li .button-active.active::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: var(--primary-red-400);
  bottom: 0px;
  left: 0;
} */
.features .features_tabs li .btntab.active {
  display: block;
  border-bottom: var(--primary-red-400) 5px solid;
}
.features .features_tabs li .button-active {
  color: var(--text-color);
}

.feature {
  display: none;
}

.active {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}
.feature .feature__image {
  position: relative;
  width: 50%;
}
.feature .feature__image img {
  width: 100%;
}
.feature .feature__content {
  width: 40%;
  color: var(--text-color);
}

.feature .feature__content h3 {
  font-size: 34px;
}
.feature .feature__content p {
  color: var(--paragraph-color);
  line-height: 1.6;
  padding: 20px 0 50px;
}
.feature .feature__content .btn {
  color: var(--grey-50);
  background-color: var(--primary-blue-600);
  border: 2px solid var(--primary-blue-600);
  transition: all ease 0.5s;
}
.feature .feature__content .btn:hover {
  background-color: var(--grey-50);
  color: var(--primary-blue-600);
}

.features .feature__image::after {
  content: "";
  position: absolute;
  display: block;
  bottom: -80px;
  left: -70%;
  width: 800px;
  height: 200px;
  background-color: var(--primary-blue-600);
  border-bottom-right-radius: 100px;
  border-top-right-radius: 100px;
  z-index: -1;
}

/* .feature:target {
  display: flex;
  justify-content: space-between;
} */

/* end feeeeaaaatures */
/* start download options */

.dowload {
  width: 100%;
  padding: 100px 0;
}
.title {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title h1 {
  color: var(--text-color);
}
.title p {
  color: var(--paragraph-color);
  max-width: 500px;
  text-align: center;
  line-height: 1.6;
  padding: 20px 0;
}

.dowload .dowload_options {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 50px;
}
.dowload .dowload_options .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0 0;
  height: fit-content;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
}
.dowload .dowload_options .card:nth-child(2) {
  margin-top: 40px;
}
.dowload .dowload_options .card:nth-child(3) {
  margin-top: 80px;
}
.dowload img {
  padding: 30px;
}
.dowload .dowload_options p {
  color: var(--paragraph-color);
  padding: 15px 0;
}
.dowload .btn-parent {
  padding: 40px 0;
  border-top: dotted var(--grey-50) 2px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.dowload .btn-parent::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 8px;
  background: radial-gradient(
      circle,
      rgb(224, 223, 223) 0 4px,
      transparent 4.5px
    )
    repeat-x;
  background-size: 24px 8px;
}
.dowload .btn {
  background-color: var(--primary-blue-600);
  color: var(--grey-50);
  padding: 15px 30px;
  border: 2px solid var(--primary-blue-600);
  transition: all ease 0.5s;
}
.dowload .btn:hover {
  background-color: var(--grey-50);
  color: var(--primary-blue-600);
}

/* end download section */
/* start faq section */

.questions {
  width: 100%;
  padding: 100px 0;
}
.questions .title {
  margin-bottom: 20px;
}
.questions details {
  font-size: 18px;
  border-top: 1px solid var(--paragraph-color);
  font-weight: 500;
}
.questions details:nth-child(4) {
  border-bottom: 1px solid var(--paragraph-color);
}
.questions .summaries-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.questions .summaries {
  width: 500px;
}
.questions summary {
  color: var(--text-color);
}
.questions .summaries .faq-item[open] .faq-question {
  color: var(--primary-red-400);
}
.questions .summaries .faq-question {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  cursor: pointer;
  transition: all ease 0.5s;
}
.questions .summaries .faq-question i {
  color: var(--primary-blue-600);
}
.questions .summaries .faq-question:hover {
  color: var(--primary-red-400);
}
.questions .faq-answer {
  font-size: 16px;
  line-height: 1.6;
  font-weight: 400;
  color: var(--paragraph-color);
  padding: 0 20px 20px 0px;
}

.questions .btn {
  margin-top: 50px;
  background-color: var(--primary-blue-600);
  color: var(--grey-50);
  padding: 15px 30px;
  border: 2px solid var(--primary-blue-600);
  transition: all ease 0.5s;
}
.questions .btn:hover {
  background-color: var(--grey-50);
  color: var(--primary-blue-600);
}

/* fooooter */

footer {
  width: 100%;
}
footer .top-footer {
  background-color: var(--primary-blue-600);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}
footer .top-footer h1 {
  color: var(--grey-50);
  width: 400px;
  text-align: center;
  padding: 20px;
}
footer .top-footer h4 {
  color: var(--grey-50);
  text-transform: uppercase;
  letter-spacing: 10px;
}
footer .top-footer input {
  border: none;
  padding: 10px 15px;
  width: 300px;
  border-radius: 5px;

  outline: none;
}

footer .top-footer button {
  margin-top: 30px;
  background-color: var(--primary-red-400);
  color: var(--grey-50);
  padding: 10px 30px;
  font-weight: bold;
  border-radius: 5px;
  border: 2px solid var(--primary-blue-600);
  transition: all ease 0.5s;
}
footer .top-footer button:hover {
  background-color: var(--grey-50);
  color: var(--primary-blue-600);
}

footer .bottom-footer {
  width: 100%;
  padding: 30px;
  background-color: var(--text-color);
}
footer .bottom-footer .container {
  display: flex;
  justify-content: space-between;
}

footer .bottom-footer .container .logo {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: 50px;
}
footer .bottom-footer .container .logo img {
  width: 30px;
}
footer .bottom-footer .container .logo p {
  color: var(--grey-50);
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
}
footer .bottom-footer .container .bottom-footer-right {
  display: flex;
  align-items: center;
}
footer .bottom-footer .container .bottom-footer-right ul {
  display: flex;
  gap: 20px;
}
footer .bottom-footer .container ul a {
  color: var(--grey-50);
  text-transform: uppercase;
  transition: all ease 0.5s;
  font-weight: 300;
}
footer .bottom-footer .container ul a:hover {
  color: var(--primary-red-400);
}

footer .bottom-footer .container .bottom-footer-social {
  display: flex !important;
  gap: 20px;
}
footer .bottom-footer .container .bottom-footer-social i {
  transition: all ease 0.5s;
  cursor: pointer;
  color: var(--grey-50);
  font-size: 30px;
}
footer .bottom-footer .container .bottom-footer-social i:hover {
  color: var(--primary-red-400);
}
